/* CSS VER. 2.3 */

/* Author: Rafał Mikulski
email: rjmikulski@gmail.com */

/* ----- CONTENTS ----- */
/* 
COLORS
GLOBAL SETUP
HEADINGS
FORM BUTTONS
UTILITIES
LAYOUT
MAIN FOOTER CONTAINER
FOOTER ROW UP
FOOTER ROW MIDDLE
FOOTER BOTTOM
POPUP WINDOW
*/

/* colors:
1. #4d69a2
2. #edebe1
3. #e2e0d6
*/

/* ----------------------------------------------- */
/* GLOBAL SETUP */
/* ----------------------------------------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
}

p {
  font-size: 15px;
  font-weight: lighter;
  /* color: #666666; */
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #4d69a2;
}

/* ----- HEADINGS ----- */
h3 {
  font-family: 'Playfair Display', serif;
  font-size: 36px;
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 10px;
}

h4,
h5 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.8px;
}

h4 {
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 30px;
}

h5 {
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

ul,
li {
  list-style-type: none;
}

/* ----- FORM - BUTTONS SETUP ----- */

input[type='text'],
input[type='email'] {
  width: 343px;
  height: 54px;
  margin: 1px 10px 24px 10px;
  padding: 17px;
  border: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  color: #aaaaaa;
}
button[type='submit'] {
  width: 252px;
  height: 54px;
  margin: 1px 10px 24px 10px;
  background-color: #f5be13;
  border: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}

/* ----------------------------------------------- */
/* UTILITIES */
/* ----------------------------------------------- */

/* ----- For "Diocesan News" text color ----- */
.link-h3 {
  color: #8aa1d3;
}

/* ----------------------------------------------- */
/* LAYOUT */
/* ----------------------------------------------- */

/* ----- MAIN FOOTER CONTAINER */
.main-footer {
  background-color: #e2e0d6;
}

/* ----- FOOTER ROW UP ----- */
.footer-row-up {
  background-color: #4d69a2;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px 10px 30px 5px;
}

/* ----- FOOTER ROW MIDDLE ----- */
.footer-row-middle {
  background-color: #edebe1;
  background-image: url(logo.gif);
  background-repeat: no-repeat;
  background-position-x: 17%;
  color: #000000;
  min-height: 289px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 32px;
}

.footer-col {
  width: 235px;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0px 30px 20px 30px;
}

/* 

.footer-col-1 { }
.footer-col-2 { }
.footer-col-3 { } 

*/

/* ----- FOOTER BOTTOM ----- */
.footer-bottom {
  font-size: 13px;
  font-weight: 200;
  color: #777777;
  min-height: 35px;
  /* height: 100%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 5px 15px 5px 15px;
}

.copyrights {
  width: 600px;
  text-align: left;
}
.footer-login {
  width: 500px;
  text-align: right;
}

/* ----------------------------------------------- */
/* POPUP WINDOW */
/* ----------------------------------------------- */
#popup {
  display: flex;
  opacity: 0;
  margin: 0;
  padding: 0;
}

#popup:checked ~ dialog {
  background-color: #ffffff;
  opacity: 80%;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  color: #000000;
}

label {
  color: #4d69a2;
}
